@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Roboto+Slab&display=swap');
/* Primero establecemos las variables importantes y le especificamos que desde la raiz. */
:root{
   --orange1: #e98658;
   --white: #f1faee;
   --gold1: #d6ba82;
   --gold2: #F6CD8F;
   --gray1: #ffffffab;
   --gray2: #F7D9D990;
   --black1: #1A1B1F;
   --black2: #272640;
   --shadow: 0 8px 8px;
   --color_shadow: #170338;
}
/* Para todos (*) los atributos de la pagina le establecemos los siguientes valores */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}
#check{
   display: none;
}
.checkbtn{
   font-size: 30px;
    color:var(--white);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}
body{
   font-family: 'Orbitron', sans-serif;
   font-family: 'Roboto Slab', serif;
  
}
.link:hover{
   background: linear-gradient(180deg, #6d296d 0%,#5f3a69 100%);
   border-radius: 10px;
}
.container{
   
   width: 90%;
   max-width: 1200px; 
   margin: 0 auto;
   overflow: hidden;
   padding: 80px 0;
   height: auto;
   
}
.hero{
   width: 100%;
   min-height: 100vh;
   background: linear-gradient(180deg, #144552 0%,#272640 100%);
}
.nav_hero{
   color:var(--white);
   height :70px;
   background:  linear-gradient(180deg, #312244 0%,#272640 100%); 
   border-bottom: 1px solid #cbb8a9;
}
.nav_container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: inherit;
   padding: 0;
}
.logo_name{
   font-family: 'Righteous', cursive;
   font-size: 24px;
}
.link{
   display: inline-block;
   color: inherit;
   text-decoration: none;
   font-weight: 300;
   padding: 10px;
}
.link--active{
   color: var(--gold1);
   font-weight: bold;
}
.logo_point{
   color: var(--gold1);
}
.hero_main{
   height: calc(100vh - 70px);
   display: flex;
   justify-content: space-between;
   align-items: center; 
   padding: 0;
}
.hero_textos{
   width: 48%;
}
.title{
   font-size: 56px;
   font-weight: lighter;
   color: var(--white);

}
.title_active{
   color: var(--orange1);
   font-weight: bold;
}
.copy{
   font-size: 24px;
   color: var(--gray1);
   text-shadow: var(--shadow) var(--color_shadow);
   margin: 15px 0;
}
.copy_active{
   font-weight: bold;
}
.cta{
   padding: 20px 30px;
   display: inline-block;
   background: linear-gradient(180deg, #f6c297  0%,var(--orange1) 100%);
   text-decoration: none;
   color: var(--black2);
   font-weight: bold;
   box-shadow: var(--shadow) var(--color_shadow);
   border-radius: 10px;
}
/*          Seccion Noticias       */
.noticias{
   background: url(../images/fondo_gamer.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.noticias_encabezado{
   background: linear-gradient(180deg,#f35454 0%, #8b2020 100%);
   padding: 10px;
   border-radius: 10px;
   margin-bottom: 50px;
   
   
}
.subtitle{
   font-size: 42px;
   padding: 0 10px;
   color: #f1faee;
}
.subtitle--modifier{
   text-align: center;
   margin-bottom: 16px;
}
.copy_section{
   color: #e9eb89;
   font-size: 22px;
   line-height: 20px;
   padding: 10px;
  
  
}
.copy_section--modifier{
   text-align: center;
   margin-bottom: 32px;
}
.container-cards{
   display: flex;
   justify-content:  space-between;
   align-items: center; 
   flex-wrap: wrap;
}
.card{
   width: 30%;
   padding: 30px 0;
   overflow: hidden;
   background: linear-gradient(180deg, #144552 0%,#272640 100%);
   border-radius: 15px;
   position: relative;
   text-align: right;
   margin-bottom: 40px;
  
   box-shadow: 0 0 10px var(--color_shadow);
}
.card_img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   align-items: center;
}
.card_text{
   text-align: left;
   width: 95%;
   margin-left: auto;
   padding-right: 25px;
}
.card_list{
   color: var(--orange1);
   font-weight: bold;
   margin: 10px 0 10px;
   font-size: 17px;
}
.card_title{
   font-size: 23px;
   color: #FFF;
   margin-bottom: 8px;
}
.card_copy{
   color: var(--gray2);
   margin-bottom: 16px;
}
.card_button{
   /* Modificado por mi
   padding: 12px 7px;
   margin: 68px;
   sin display: block*/
   display: block;
   background: linear-gradient(180deg, #f3aa6d  0%,var(--orange1) 100%);;
   border-radius: 10px;
   text-decoration: none;
   width: 100%;
   color: var(--black1);
   font-weight: bold;
   text-align: center;
   padding: 12px 0px;
   align-items: center;
   
}
/* PARTE 3-2 */
/* Sección: projects */
.card_date{
   color: var(--orange1);
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 16px;
   text-shadow: none;
}
#estrenos{
   background-image: url(../images/rog.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: auto;
   max-width: none;
}
.estreno{
  padding: 0;
  
}
.container-bg{
   display: contents;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   
}
.background{
   width: 100%;
   height: 300px;
   border-radius: 10px;
   position: relative;
   margin-bottom: 30px;
}
.background_img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: inherit;
}
.card_date {
   text-shadow: 1px 2px black;
}
#uno{
   background-image: url(../images/rubberbandits.jpg);
}
#dos{
   background-image: url(../images/solarash.jpg);
   background-position: center top;
}
#tres{
   background-image: url(../images/ffendwalker.jpg);
   background-position: center top;
}
#cuatro{
   background-image: url(../images/chorus.jpg);
   background-position: center;
}
#cinco{
   background-image: url(../images/haloinfinite.jpg);
   background-position: center;
}
#seis{
   background-image: url(../images/vertigo.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
#siete{
   background-image: url(../images/century.jpg);
   background-position: center;
}
#ocho{
   background-image: url(../images/icarus.jpg);
}
#nueve{
   background-image: url(../images/trashsailors.jpg);
}
.card_container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.background_text{
   position: absolute;
   width: 100%;
   bottom: 30px;
   left: 15px;
   color: #FFF;
}
.play{
   color: #242124; 
}
.background_title{
   font-size: 24px;
   margin-bottom: 4px;
}

/* PARTE 3-3 */
/* Seccion: testimony */
#trailers{
   background: linear-gradient(180deg, #2f0711 0%, #4D194D 100%);
}
.testimony-container .trailer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   
}
iframe{
   margin-bottom: 40px;
   padding-top: 40px;
}


/* PARTE 3-4 */
/* Email y Check */
.email{
   background: linear-gradient(180deg, #723c70 0%,#2e6f95 100% );
   
   
   
}
.check{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   margin: 0 auto;
}
.check_item{
   width: 30%;
   padding-right: 10px;
   display: flex;
   border-right: 2px solid var(--color_shadow);
}
.bx-check{
   background: var(--gold2);
   display: inline-block;
   width: 40px;
   height: 40px;
   text-align: center;
   margin-right: 20px;
   color:var(--color_shadow);
   border-radius: 50%;
   font-size: 40px;
}
.check_number{
   font-weight: bold;
}
.newsletter{
   position: relative;
   width: 60%;
   margin: 0 auto;
   margin-top: 40px;
   height: auto;
   font-family: inherit;
   border-radius: 6px;
}
.newsletter--modifier{
   margin: 0;
   width: 80%;
}
.newsletter_input{
   width: 100%;
   background: #e0e8f3c9;
   font: var(--color_shadow);
   height: 100%;
   padding: 22px 10px;
   outline: none;
   font-family: inherit;
   border-radius: 6px;
   border: 1px solid var(--color_shadow);
}
.newsletter_submit{
   position: absolute;
   right: 8px;
   top: 10%;
   height: 80%;
   background: var(--color_shadow);
   color: rgba(248, 223, 156, 0.835);
   padding: 0 15px;
   border: none;
   border-radius: 6px;
   font-family: inherit;
   font-weight: bold;
   cursor: pointer;
}

/*PARTE 4*/
/* Footer */
.footer{
   background: linear-gradient(180deg, #2e6f95 0%, #723c70 100% );
}
.footer_caption{
   display: flex;
   flex-wrap: wrap-reverse;
   justify-content: space-evenly;
}
.title_footer{
   font-size: 24px;
   margin-bottom: 32px;
   color: rgba(255, 255, 255, 0.904);
}
.download{
   width: 50%;
}
.download_app{
   display: flex;
}
.download_item{
   display: flex;
   padding: 18px 12px;
   border-radius: 6px;
   border: 1px solid var(--gold2);
   width: 42%;
   align-items: center;
   margin-right: 20px;
   margin-bottom: 16px;
}
.download_logo{
   font-size: 40px;
   margin-right: 20px;
   color: var(--gold2);
}
.download_title{
   font-size: 18px;
   color: var(--gold2);
}
.footer_copy{
   width: 100%;
   color: var(--black2);
   display: flex;
   flex-wrap: wrap;
}
.copyright{
   width: 100%;
   color: rgb(223, 196, 255);
}
.politica_privacidad{
   color: inherit;
   text-decoration: none;
   display: inline-block;
   margin-top: 10px;
   color: rgb(223, 196, 255);
}
.politica_privacidad:hover{
   text-decoration: underline;
}
.politica_privacidad--margin{
   margin-right: 10px;
}
.get-mail{
   width: 50%;
}
.socialmedia{
   margin-top: 24px;
   display: flex;
   color: rgb(223, 196, 255);
}
.socialmedia_icon{
   font-size: 18px;
   margin-right: 30px;
   display: inline-block;
}
.socialmedia_legend{
   color: rgb(223, 196, 255);
   margin-right: 16px;
}
.contact{
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   color: rgba(255, 255, 255, 0.89);
   
}
.item_contact{
   width: 25%;
   padding: 25px; /*grosor del del footer*/
   text-align: center;
   background: linear-gradient(180deg,#6e2852 0%, #5d325c 100%);
}
.item_contact--gold{
   background: linear-gradient(180deg,#cec3ff 0%, #6e69b3bd 100%);
   color: var(--black2);
}
.contact_icon{
   font-size: 20px;
   color: var(--orange1);
   line-height: 20px;
   margin-right: 4px;
}
.contact_icon--modifier{
   color: var(--black1);
}
.contact_title{
   font-size: 16px;
   line-height: 20px;
}

/*PARTE 5*/
/*ADAPTACION PARA DISPOSITIVOS MÓVILES*/
.mockup{
   object-fit: cover;
   width: 48%;
   height: calc(100vh - 70px);
   padding: 10px;
}
@media  screen and (max-width:900px)  {
   .mockup{
      width: 600px;
      height: auto;
   }
   .title{
      font-size: 50px;
   }
   .copy{
      font-size: 22px;
   }
   .cta{
      padding: 15px 22px;
   }
   .container-cards{
      justify-content: space-evenly;
   }
   .card_container{
      justify-content: space-evenly;
   }
   .noticias .card{
      width: 45%;
   }
   .background{
      width: 100%;
      
   }
   .card{
      width: 42%;
   }
   .testimony-container{
      justify-content: space-evenly;
   }
   .testimony_card{
      width: 45%;
  }
  .check_item{
     width: 45%;
     margin-bottom: 35px;

  }
  .newsletter{
     width: 80%;
  }
  .download{
     width: 100%;
  }
  .download_app{
     justify-content: space-between;
  }
  .title_footer{
     margin-top: 20px;
     text-align: center;
  }
  .download_item{
     width: 45%;
  }
  .get-mail{
     width: 100%;
     margin-bottom: 40px;
  }
  .socialmedia_icon{
   font-size: 18px;
  }
  .socialmedia_legend{
   font-size: 18px;
  }
}
@media screen and (max-width:700px){
   main .container, footer .container{
        padding: 20px;
   }
   .nav_container{
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly;
  }
  .nav_hero{
   height: auto;
  }  
  .logo{
   padding: 15px 0;
   text-align: center;
  }
  .links{
   padding-bottom: 10px;
   text-align: center;
  }
  .link{
   padding: 7px 10px;
  }
  .hero_main{
   flex-direction: column-reverse;
   justify-content: flex-end;
   height: auto;
   padding: 30px 0;
  }
  .hero_textos{
   width: 100%;
   text-align: center;
  }
  .mockup{
   width: 70%;
   margin-bottom: 20px;
  }
  .title{
   font-size: 35px;
  }
  .copy{
   font-size: 20px;
  }
  .subtitle{
   font-size: 35px;
   text-align: center;
  }
  .copy_section{
   font-size: 20px;
   text-align: center;
  }
  .noticias .card{
   width: 90%;
  }
  .container-bg{
   justify-content: space-evenly;
  }
  .card{
   margin-bottom: 40px;
   
  }
  .card_title{
   font-size: 35px;
  }
  .card_button{
   width: 100%;
  }
  .background{
   width: 100%;
   margin-bottom: 40px;
  }  
  .background_copy{
   display: none;
  }
  .release{
   width: 47%;
  }
  .testimony_name{
   font-size: 20px;
  }
  .container--modifier{
   width: 80%;
  }
  .item_contact{
   width: 100%;
   padding: 10px 0;
   }
}

@media screen and (max-width:500px){
   .mockup{
      width: 80%;
      margin-bottom: 15px;
   }
   .noticias .card{
      width: 95%;
   }
   .card{
      width: 95%;
   }
   .background{
      height: auto;
      width: 100%;
   }
   .release{
      width: 90%;
   }
   .testimony_history{
      font-size: 20px;
   }
   .container--modifier{
      width: 90%;
   }
   .newsletter{
      width: 100%;
   }
   .newsletter--modifier{
      display: block;
   }
   .check_item{
      width: 100%;
      border: none;
      padding: none;
      justify-content: center;
   }
   .download_item{
      width: 49%;
   }
   .download_title{
      font-size: 16px;
   }
}
/* MENÚ RESPONSIVO*/
@media screen and (max-width:550px){
  
   .nav_container{
      position: absolute;
      padding-top: 7px;
   } 
   .logo_name{
      padding-left: 20px;
      position:relative ;
      float: left;
  }
   .checkbtn{
      display:block
  }
  .links{
   position: fixed;
   width: 100%;
   height: 100vh;
   background: linear-gradient(180deg, #312244 0%,#272640 100%); ;
   top: 80px;
   left: -100%;
   text-align: center;
   transition: all .5s;
}
nav .links .link{
   display: block;
   margin: 50px 0;
   line-height: 20px;
}
nav  .links .link a{
   font-size: 20px;
}
.link--active, .link:hover{
   background: none;
   color: var(--gold1);
   
}
#check:checked ~ .nav_container .links{
   
    left: 0;
   
}
}
